section {
  > header h4 {
    font-size: 1.1em;
  }

  > ag-grid-angular {
    width: 100%;

    &::ng-deep {
      div.ag-header-row, div.ag-body-container {
        width: 100% !important;
      }

      div.ag-row {
        cursor: pointer;

        div.ag-cell {
          line-height: 28px;

          &.ag-cell-focus {
            border-color: transparent;
          }
        }
      }
    }
  }
}
