<section>
  <header>
    <h4>Order List</h4>
  </header>
  <ag-grid-angular class="ag-theme-material mat-elevation-z2" [gridOptions]="gridOptions" [gridAutoHeight]="true" [enableSorting]="true"
    [enableFilter]="true" [pagination]="true" paginationPageSize="10" rowHeight="28" [rowData]="orders" [columnDefs]="columnDefinitions"
    (rowClicked)="onRowClicked($event)">
  </ag-grid-angular>
</section>
