<section>
  <header>
    <h4>Order Update</h4>
  </header>
  <mat-card>
    <mat-card-title>
      <h4>Strata Parent ID <span>{{order?.strata_parent_id}}</span></h4>
      <div>
        <h5>Advertiser</h5>
        {{order?.advertiser}}
      </div>
      <div>
        <h5>Estimate No</h5>
        {{order?.estimate_no}}
      </div>
      <div>
        <button mat-flat-button color="primary" (click)="update()" [disabled]="!orderItems.length">Update
          <mat-icon>arrow_upward</mat-icon>"
        </button>
      </div>
    </mat-card-title>
    <mat-card-content>
      <ag-grid-angular class="ag-theme-material" [gridOptions]="gridOptions" [rowData]="order?.items" (cellValueChanged)="changed($event)"></ag-grid-angular>
    </mat-card-content>
  </mat-card>
  <div>
    <button mat-button (click)="back()">Back</button>
    <button mat-raised-button color="primary" (click)="submit()">Submit</button>
  </div>
</section>
