@import '~@ihm-software/ihm-ui-common/src/assets/styles/ihm-variables';

section {
  > header h4 {
    font-size: 1.1em;
  }

  > mat-card {
    mat-card-title  {
      font-size: 0.85rem;
      display: flex;
      flex-direction: row;

      h4 {
        font-size: inherit;
        margin-right: 1rem;

        span {
          font-weight: 400;
          padding-left: 1rem;
        }
      }

      div {
        font-size: 0.8em;
        margin-left: 2rem;

        h5 {
          font-size: inherit;
          font-weight: bold;
        }

        button {
          font-size: 0.9em;
          text-transform: uppercase;
          line-height: 1.2rem;
          padding: 0.2rem;

          mat-icon {
            font-size: 1.5em;
            padding-top: 0.3rem;
          }
        }

        &:last-child {
          margin-left: auto;
        }
      }
    }

    mat-card-content {
      > ag-grid-angular {
        width: 100%;

        &::ng-deep {
          div.ag-cell {
            line-height: 36px;

            &.ag-cell-focus {
              border-color: transparent;
              background-color: $ihm-text-light;
            }

            &.ag-cell-inline-editing {
              padding: 0 24px;
              height: 36px;
            }
          }
        }
      }
    }
  }

  > div {
    width: fit-content;
    margin: 1rem 0 0 auto;

    button {
      font-size: 0.65rem;
      text-transform: uppercase;
      line-height: 1.2rem;
      padding: 0.2rem;
      padding-top: 0.5rem;
    }
  }
}
